---
layout: default
title: "#TravelBug"
---
<div class="content">
  <h1 class="intro"><code>{{ page.title }}</code> </h1><br>
  <ul class="list-unstyled">
  	
    {% for post in site.posts %}
    	{% if post.categories contains 'travel' %}
      <li>
      <div class="row">
      <div class="col-md-2"><span>{{ post.date | date_to_string }} </span> </div>
      <div class="col-md-10 text-left"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></div>
      </div>
      </li>
    	{% endif %}
    {% endfor %}
  </ul>
  </div>