
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	min-height: 100%;
	background-color: #ffffff;
	margin-bottom: 60px;
	font-family:'Helvetica Neue',Arial,sans-serif;
	overflow-x: hidden !important;
	font-size: 18px;	    
}

body > .container {
	padding: 60px 15px 0;
}

.navbar
{
	background-color: black !important;
	font-size: 0.8em;
}


.content{
 	margin-top: 20px;
 	padding-left: 5px;
    padding-right: 5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	margin: auto;
	width: 99%;
	text-align: center;
}

.article{
	line-height: 1.5;
}
.article .outer-list>li{
	font-weight: bold;
}
code{
	white-space: pre;
	background-color: white;
}
.center{
	width: 60%;
}

.center, .image-center , .profile, .tinycaption{
	display: block;
	margin:auto;
}


.tinycaption{
	text-align: center;
	font-size: 0.7em;
	line-height: 1;
	width: 90%;
}

.tinycaption:after{
	content: '\a';
	white-space: pre;
}

.intro{
	margin-top:3%;
}

.hello{
	margin-top: 10%;
    font-size: 3em;
    line-height: 1.5;
    letter-spacing: 0.001rem;
}

.references{
	font-size: 0.8em;
}

h1 code{
	color:white;
	background-color: black;
	font-size:1em;
	line-height: 1;
}

h1, .navbar, code, #caption{
	font-family: "Brown Bold",Arial,sans-serif;
}

.list-unstyled{
	font-size: 1em;
	color:black;
	line-height: 2;
}


#caption{
	color:black;
	font-size:2em;
	line-height: 1;
	margin-bottom:0% ;
	text-align: center;
}


#pitch{
	margin-top: 20px;
    margin-bottom: 50px;
    line-height: 1.7em;
    font-size: 1.3em;
}

.about{
	padding-top: 10px;
	text-align: justify !important;
	font-size: 1em;
	color: black;
    line-height: 2em;
    letter-spacing: 0.01rem;
}

.article>.list-unstyled>li,.article>.list-unstyled>ol>li{
	font-weight: bold;
}



/*images*/

.profile{
	margin-top:3%;
	border: 5px double rgba(192,192,192,0.35) ;
	background-color: rgba(192,192,192,0.35);
	background-clip: padding-box;
	width: 200px;
	height: 200px; 
	border-radius: 50%;

}

.image-center{
	max-width: 200px;
	height: auto;
}

.image-bigger {
	max-width: 200px;
	height: auto;
}


/*Buttons and Links*/

.btn
{
	background-color: black;
	border-color:black;

}

a,
a:hover,
a:focus{
	color:black;
}

.nav-link{
	color:  #D3D3D3 !important;
}

.nav-item .active{
	color:#ffffff !important;
}


.nav-link:hover,
.nav-link:focus{
	color:white !important;
}


#here, .references a:hover,.references a:focus{
	color:rgb(0,163,244);
}

/*Footer */

.social{
	padding-left:5px;
	padding-right:5px;
	float:right;
	margin-right:50px;
	display: inline-block;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 1.2;
}


.copyright{
	padding-left: 50px;
}

.footer > .row{
	padding-top: 15px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 10px;
	font-size:1em;
	background-color: #ffffff;
}


@media(min-width: 576px){
.image-bigger {
	max-width: 400px !important;
	height: auto;
}
}
